@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Fugaz+One);
@import url(//fonts.googleapis.com/css?family=Anton);
@import url(//fonts.googleapis.com/css?family=Acme|Archivo+Black);
@import url(//fonts.googleapis.com/css?family=Zilla+Slab+Highlight);
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Russo+One");
body {
  margin: 100px 10% 100px;
  background-image: -webkit-radial-gradient(left, #64f38c, #3a6073);
  background-image: -o-radial-gradient(left, #64f38c, #3a6073);
  background-image: radial-gradient(90deg, #64f38c, #3a6073); }

.navigation-section {
  width: auto;
  height: auto;
  background-color: inherit; }
  .navigation-section .carrots {
    fill: #2894e6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    outline: none;
    padding: 20px 0px;
    border-radius: 5px;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: auto; }
    .navigation-section .carrots button:nth-child(1) {
      background-color: #009ed8; }
      .navigation-section .carrots button:nth-child(1):hover {
        -webkit-filter: contrast(65%);
        filter: contrast(65%); }
    .navigation-section .carrots button:nth-child(2) {
      background-color: #ff4343; }
      .navigation-section .carrots button:nth-child(2):hover {
        -webkit-filter: contrast(65%);
        filter: contrast(65%); }
    .navigation-section .carrots button:nth-child(3) {
      background-color: #00cc6a; }
      .navigation-section .carrots button:nth-child(3):hover {
        -webkit-filter: contrast(65%);
        filter: contrast(65%); }
    .navigation-section .carrots button:nth-child(4) {
      background-color: #ffb900; }
      .navigation-section .carrots button:nth-child(4):hover {
        -webkit-filter: contrast(65%);
        filter: contrast(65%); }
    .navigation-section .carrots button {
      font-family: 'Fugaz One', cursive;
      color: white;
      text-align: center;
      border-radius: 10px;
      border-color: inherit;
      height: 50px;
      border: 0px;
      width: 100%;
      margin: 0 1vw; }
      .navigation-section .carrots button:hover {
        cursor: pointer; }

.hero-header {
  background-image: url("../images/12315-NOCGEH.jpg");
  width: auto;
  height: 30vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  font-family: 'Zilla Slab Highlight', cursive; }
  .hero-header h1, .hero-header h2, .hero-header p {
    margin: 0px;
    font-size: 3vw;
    color: black;
    font-weight: 100; }
  .hero-header img {
    position: relative;
    left: 45%;
    width: 10vw;
    height: auto;
    border-radius: 100%;
    border: 1px black solid; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Anton', sans-serif; }

.social-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .social-div img {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25px;
    width: 25px;
    border-radius: 5px; }
  .social-div:nth-child(1) p {
    font-size: 0.9rem;
    margin: 0;
    margin-top: 15px;
    position: absolute;
    left: 5px;
    color: black; }
  .social-div:nth-child(2) img {
    background-image: -webkit-linear-gradient(45deg, purple, red, yellow);
    background-image: -o-linear-gradient(45deg, purple, red, yellow);
    background-image: linear-gradient(45deg, purple, red, yellow); }
  .social-div:nth-child(3) img {
    background-image: -webkit-linear-gradient(45deg, #3b5998, #8b9dc3, #3b5998);
    background-image: -o-linear-gradient(45deg, #3b5998, #8b9dc3, #3b5998);
    background-image: linear-gradient(45deg, #3b5998, #8b9dc3, #3b5998); }
  .social-div:nth-child(4) img {
    background-image: -webkit-linear-gradient(45deg, white, #0077B5);
    background-image: -o-linear-gradient(45deg, white, #0077B5);
    background-image: linear-gradient(45deg, white, #0077B5); }
  .social-div:nth-child(5) img {
    background-color: #ff0000; }

.work-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Slabo 27px', serif;
  margin-top: 20px; }
  .work-section h2 {
    font-size: 2em;
    font-family: 'Russo One', sans-serif;
    color: #009ed8; }
  .work-section:hover {
    background-color: #dbe4ff; }
    .work-section:hover h2 {
      color: white; }

.work-section article p {
  margin: 0 20px;
  line-height: 1.5;
  font-size: 1.2em;
  margin-bottom: 20px; }

.code-section {
  border: 1px darkgray solid;
  border-radius: 10px;
  width: 50%;
  height: auto;
  background-color: darkgray;
  color: white;
  font-size: 15px;
  margin-left: 25%;
  margin-bottom: 20px;
  margin-right: 0;
  text-align: center; }

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Slabo 27px', serif;
  margin-top: 20px; }
  .about-section h2 {
    font-size: 2em;
    font-family: 'Russo One', sans-serif;
    color: #ff4343; }
  .about-section:hover {
    background-color: #dbe4ff; }
    .about-section:hover h2 {
      color: white; }

.clients-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Slabo 27px', serif;
  margin-top: 20px; }
  .clients-section:hover {
    background-color: #dbe4ff; }
    .clients-section:hover h2 {
      color: white; }
  .clients-section p {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    height: auto;
    font-size: 1.2em; }
  .clients-section h2 {
    font-size: 2em;
    font-family: 'Russo One', sans-serif;
    color: #00cc6a; }
  .clients-section img {
    height: 80px;
    width: auto;
    border-radius: 20px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: 1px black solid; }
    .clients-section img:hover {
      -webkit-transform: scale(3);
      -ms-transform: scale(3);
      transform: scale(3);
      border-radius: 0;
      border: 1px black solid; }
  .clients-section .outer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 20px 20px 20px; }

.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Slabo 27px', serif;
  margin-top: 20px; }
  .content-section h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 2em;
    color: #ffb900; }
  .content-section:hover {
    background-color: #dbe4ff; }
    .content-section:hover h2 {
      color: white; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: -webkit-linear-gradient(45deg, #606c88, #3f4c6b);
  background-image: -o-linear-gradient(45deg, #606c88, #3f4c6b);
  background-image: linear-gradient(45deg, #606c88, #3f4c6b);
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  border-top: 0.2px gray solid; }

section {
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px; }

h2.headertekst {
  text-align: center; }

.clients-section div:last-of-type {
  margin-bottom: 20px; }

.yellow-head {
  height: 50vw;
  width: 100%;
  -webkit-transform: skew(0deg, -20deg);
  -ms-transform: skew(0deg, -20deg);
  transform: skew(0deg, -20deg);
  background-image: -webkit-linear-gradient(45deg, #DE6262, #FFB88C);
  background-image: -o-linear-gradient(45deg, #DE6262, #FFB88C);
  background-image: linear-gradient(45deg, #DE6262, #FFB88C);
  z-index: -1;
  position: absolute;
  left: 0;
  top: -30%; }

@media (min-width: 1000px) {
  body {
    width: 770px; } }
